:root {
    --primary-color: #080B14;
    --secondary-color: #0E1321;
    --third-color: #00F5FF;
    --fourth-color: #FF2D78;

}

body {
    background-color: var(--secondary-color);
}

#aside-btn{
    display: none;
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
}

aside {
    width: 350px;
    height: 100vh;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    position: fixed;

}


#details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: transparent;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: var(--secondary-color);
    border: 5px solid white;

}

#name {
    color: rgba(254, 255, 254, 0.923);
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;



}

#social-media {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.social-icon {
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.social-icon a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    display: block;
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    z-index: 1;

}

.social-icon a .icon {
    position: relative;
    color: white;
    transition: .5s;
    z-index: 3;
}

.social-icon a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.social-icon a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(99, 13, 238);
    transition: .5s;
    z-index: 2;
}

#link::before {
    background: rgba(0, 212, 255);
}

#github::before {
    background: rgb(0, 0, 0);
}

#twitter::before {
    background: rgba(29, 161, 242);
}

#instagram::before {
    background: linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
}

#facebook::before {
    background: #1877F2;
}

.social-icon a:hover::before {
    top: 0;
}

#navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 30px;
    background: transparent;
}

.navigation-btn {
    width: 250px;
    height: 40px;
    margin-left: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: #73767e;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.navigation-btn i {
    margin-right: 15px;
    margin-left: 20px;
}



.navigation-btn:hover {
    color: var(--third-color);
}

.navigation-btn.active {
    color: var(--third-color);
    background-color: #073a3c;
}




footer {
    position: relative;
    bottom: 0;
    left: 350px;
    width: calc(100% - 350px);
    height: 100px;
    background-color:#010a26;
    color: #73767e;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* mobile */
@media (max-width : 500px) {

    aside{
        display: none;
    }

    #aside-btn{
        display: block;
    }

    

    footer{
        left: 0;
        width: 100%;
    }
    
}